body{
    font-family: "Book Antiqua", sans-serif;
    background-color: #f4f4f4;

}

header{
    background-color: #333;
    color: orange;
    padding: 20px;
    text-align: center;



}

main{
    padding: 50px;

}

footer {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.myModal1{
    border-radius: 10px;

}
.search{
    margin-left: 800px;
}

.button{
    border-color: #093483;
}
.my-button{
    font-size: 20px;
    padding: 5px 20px;
    text-align: left;
    vertical-align: top;
    border-radius: 10px;
    border: solid 1px;
    background-color: #225ecf;
    outline: none;
}
.my-button:hover{
    background-color: green;
    border-color: green;
    transition: background-color 0.1s ease;

}
.my-button1{
    background-color: #333;
    font-size: large;
    border-radius: 5px;
    border: solid 1px;
}
.my-button1:hover{
    background-color: green;
    border-color: white;
    transition: background-color 0.3s ease;
}
.text{
    font-family: Arial;
    font-size: 15px;

}
.myModal{
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    background-color: #f4f4f4;
    left: 200px;
    top: 20px;
}
.myModal1{
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    background-color: #f4f4f4;
    left: 200px;
    top: 20px;
    flex-direction: column;
}

.myModal2{
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    background-color: #f4f4f4;
    left: 200px;
    top: 20px;
}
.myModal3{
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    background-color: #f4f4f4;
    left: 200px;
    top: 20px;
}
.myModal4{
    display: none;
    position: absolute;
    height: 200px;
    width: 650px;
    border: 1px solid white;
    background-color: #f4f4f4;
    left: 990px; top: 90px;
    flex-direction: column;
    justify-content: space-between
}
.myModal5{
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    background-color: #f4f4f4;
    left: 200px;
    top: 20px;
}
.close-button1{
    background-color: transparent;
    font-size: 20px;
    border: none;
    border-radius: 2px;

}
.close-button1:hover{
    background-color: red;
    border-color: transparent;
    transition: background-color 0.3s ease;
}
.close-button2{
    background-color: transparent;
    font-size: 20px;
    border: none;
    border-radius: 2px;

}
.close-button2:hover{
    background-color: red;
    border-color: transparent;
    transition: background-color 0.3s ease;
}

.image{
    margin-left: 2px;
    background-color: transparent;
    border-radius: 10px;
    width: 390px;
    height: 380px;
    border: transparent solid 1px;
}
.image:hover{
    border-color: black;
    background-color: black;
    transition: background-color 0.3s ease;
}
.myModal6{
    flex-direction: row;
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    background-color: #f4f4f4;
    left: 200px;
    top: 20px;
}





